body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80%;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

.tab {
  margin-left: 40px;
}

a {
    display: block;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

p {
  font-size: 16px;
}
/* Homepage
==================*/

.navigation {
  text-align: center;
  background-color: #00CCA0;
  color: white;
  padding-top: 10px;
  padding-bottom: 2px;
  margin: 20px;
  font-size: 18px;
}

.navigation:hover {
  color: white;
  background-color: #0B7F67;
}


/* Sub Pages
==================*/

#pageTitle {
  text-align: center;
  padding-top: 70px;
}

.codeExample {
  background-color: #f1f1f1;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.code {
  line-height: 90%;
}

.monospace {
  font-family: monospace;
}

.mkdwnList {
  list-style: none;
  font-family: monospace;
}

#defImg {
  display: block;
  margin: auto;
}

/* CSS Page
==================*/
#cssHeader {
  font-style: italic;
}

#cssP {
  background-color: yellow;
}

#cssImage {
  width: 20%;
}

/* Divs and Spans Page
==================*/
.serif {
  font-family: serif;
}

.red {
  color: red;
}

/* Floats and Box Models
==================*/

#floatImg {
  float: right;
  margin: 15px;
  border: 3px solid pink;
  padding: 5px;
}

/* Cascading Styles
==================*/

#cascP {
  border: 3px solid blue;
}

/* Forms
==================*/

#yourInfo {
  display: none;
}

/* Attributes
==================*/
.green-text {
  color: green;
}

.yellow-text {
  color: yellow;
}

.red-text {
  color: red;
}

/* Branching
==================*/

.playground, .bar, .museum {
  display:none;
}


/* Footer
========================*/

.footer-content {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}
