.container {
  width: 80%;
}

h3 {
  text-align: center;
}

.tab {
  margin-left: 40px;
}

a {
    display: block;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

/* Homepage
==================*/

.navigation {
  text-align: center;
  background-color: #00CCA0;
  color: white;
  padding-top: 10px;
  padding-bottom: 2px;
  margin: 20px;
  font-size: 18px;
}

.navigation:hover {
  color: white;
  background-color: #0B7F67;
}


/* Sub Pages
==================*/

#pageTitle {
  text-align: center;
  padding-top: 70px;
}

.codeExample {
  background-color: #f1f1f1;
}

.code {
  line-height: 80%;
}

.monospace {
  font-family: monospace;
}

.mkdwnList {
  list-style: none;
  font-family: monospace;
}

/* CSS Page
==================*/
#cssHeader {
  font-style: italic;
}

#cssP {
  background-color: yellow;
}

#cssImage {
  width: 20%;
}
/* Footer
========================*/

.footer-content {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}
